@media (min-width: 360px) and (orientation: portrait) {
  .first-header .name {
    margin-bottom: 1rem;
  }
  .first-header .name .name-header {
    font-size: 2rem;
  }
  .first-header .name .name-sec-header {
    font-size: .7rem;
  }
  .first-header .name .icon {
    display: block;
  }
  .first-header .navbar {
    display: none;
  }
  .home {
    padding: 0;
  }
  .home .image {
    -webkit-animation: none;
            animation: none;
  }
  .home .home-info .paragraph1 {
    display: none;
  }
  .home .home-info .description1 {
    font-size: 2rem;
    text-align: center;
  }
  .home .home-info .description2 {
    font-size: 1.5rem;
  }
  .home .home-info .paragraph2 {
    font-size: 1.3rem;
    background-color: white;
  }
  .home .home-info .paragraph3 {
    font-size: 1.3rem;
    background-color: white;
  }
  .home .btn-home {
    display: none;
  }
  .wrapper {
    overflow: hidden;
    padding: 2rem .5rem;
  }
  .wrapper .about .description-about-one {
    font-size: 1.5rem;
  }
  .wrapper .about .description-about-two {
    font-size: 1.5rem;
  }
  .wrapper .about h1:nth-of-type(2) {
    display: none;
  }
  .wrapper .about .line {
    width: 0.1rem;
    height: 3rem;
  }
  .wrapper .about .article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .wrapper .about .article .image-article {
    display: none;
  }
  .wrapper .about .article .info-article .paragraph-article {
    padding: 1rem;
    font-size: 1rem;
    letter-spacing: 0.1rem;
  }
  .wrapper .about .article .info-article .description-article {
    font-size: 1.2rem;
    padding: 1rem;
    text-align: center;
  }
  .wrapper .about .article .resp {
    display: block;
  }
  .wrapper .gallery {
    margin: 2rem auto;
  }
  .wrapper .gallery .line {
    width: 0.1rem;
    height: 3rem;
  }
  .wrapper .gallery .description-gallery {
    font-size: 1.5rem;
  }
  .wrapper .gallery .image-gallery-two {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .wrapper .gallery .image-gallery-two .box {
    padding-top: 0.5rem;
  }
  .wrapper .gallery .image-gallery-two .box img {
    height: 30vh;
  }
  .wrapper .gallery .image-gallery-two .box:first-child {
    padding-right: 0rem;
  }
  .wrapper .gallery .image-gallery-two .box:nth-of-type(3) {
    padding-right: 0rem;
  }
  .wrapper .gallery .image-gallery-two .box:nth-of-type(5) {
    padding-right: 0rem;
  }
  .wrapper .reviews {
    padding-bottom: 2rem;
    position: relative;
  }
  .wrapper .reviews .description-reviews {
    font-size: 1.5rem;
    margin: 1rem auto;
    padding: 2rem 2rem 0 2rem;
  }
  .wrapper .reviews .swiper-wrapper .slide {
    padding: 2rem 1rem;
  }
  .wrapper .reviews .swiper-wrapper .slide .review {
    font-size: .8rem;
    font-weight: 300;
  }
  .wrapper .reviews .swiper-wrapper .slide .person {
    font-weight: 600;
  }
  .wrapper .reviews .sec1, .wrapper .reviews .sec2 {
    position: absolute;
    top: 90%;
  }
  .wrapper .contact {
    margin: 2rem auto 1rem auto;
  }
  .wrapper .contact .description-contact {
    font-size: 1.5rem;
  }
  .wrapper .contact .line {
    width: 0.1rem;
    height: 3rem;
  }
  .wrapper .contact .contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .wrapper .contact .info p {
    font-size: .8rem;
  }
  .wrapper .contact .google {
    margin: 2rem auto;
  }
  .wrapper .contact .google h1 {
    font-size: 1.5rem;
  }
  .footer {
    font-size: .7rem;
    padding: 0.7rem;
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  .first-header .name {
    margin-bottom: 1rem;
  }
  .first-header .name .name-header {
    font-size: 2.3rem;
  }
  .first-header .name .name-sec-header {
    font-size: 1rem;
  }
  .home {
    padding: 0;
  }
  .home .home-info .paragraph1 {
    display: none;
  }
  .home .home-info .description1 {
    font-size: 2.5rem;
  }
  .home .home-info .description2 {
    font-size: 1.9rem;
  }
  .home .home-info .paragraph2 {
    font-size: 1.6rem;
    background-color: white;
    padding: 1rem 1rem 0 1rem;
  }
  .home .home-info .paragraph3 {
    font-size: 1.6rem;
    background-color: white;
    padding-bottom: 1rem;
  }
  .home .btn-home {
    display: block;
  }
  .wrapper {
    padding: 2rem 1rem;
  }
  .wrapper .about .description-about-one {
    font-size: 1.9rem;
  }
  .wrapper .about .description-about-two {
    font-size: 1.9rem;
  }
  .wrapper .about .line {
    width: 0.1rem;
    height: 3rem;
  }
  .wrapper .about .article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .wrapper .about .article .image-article {
    display: none;
  }
  .wrapper .about .article .info-article .paragraph-article {
    padding: 1rem;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
  }
  .wrapper .about .article .info-article .description-article {
    font-size: 1.5rem;
    padding: 1rem;
    text-align: center;
  }
  .wrapper .about .article .resp {
    display: block;
  }
  .wrapper .gallery {
    margin: 2.5rem auto;
  }
  .wrapper .gallery .description-gallery {
    font-size: 1.9rem;
  }
  .wrapper .gallery .image-gallery-two {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .wrapper .gallery .image-gallery-two .box {
    padding-top: 0.5rem;
  }
  .wrapper .gallery .image-gallery-two .box img {
    height: 40vh;
  }
  .wrapper .reviews {
    padding-bottom: 5rem;
    position: relative;
  }
  .wrapper .reviews .description-reviews {
    font-size: 1.8rem;
  }
  .wrapper .reviews .swiper-wrapper .slide {
    padding: 4rem 1rem;
  }
  .wrapper .reviews .swiper-wrapper .slide .review {
    font-size: 1rem;
    font-weight: 300;
  }
  .wrapper .reviews .swiper-wrapper .slide .person {
    font-weight: 700;
    font-size: 1.2rem;
  }
  .wrapper .reviews .sec1, .wrapper .reviews .sec2 {
    top: 80%;
  }
  .wrapper .contact .description-contact {
    font-size: 1.9rem;
  }
  .wrapper .contact .contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .wrapper .contact .contacts .con i {
    font-size: 4rem;
  }
  .wrapper .contact .contacts .con p {
    font-size: 1.3rem;
  }
  .wrapper .contact .info p {
    font-size: 1rem;
  }
  .wrapper .contact .google {
    margin: 2rem auto;
  }
  .wrapper .contact .google h1 {
    font-size: 1.9rem;
  }
  .footer {
    font-size: .9rem;
    padding: 0.7rem;
  }
  .home {
    padding: 0;
  }
  .home .home-info .paragraph1 {
    display: none;
  }
  .home .home-info .description1 {
    font-size: 2.5rem;
  }
  .home .home-info .description2 {
    font-size: 1.9rem;
  }
  .home .home-info .paragraph2 {
    font-size: 1.6rem;
    background-color: white;
    padding: 1rem 1rem 0 1rem;
  }
  .home .home-info .paragraph3 {
    font-size: 1.6rem;
    background-color: white;
    padding-bottom: 1rem;
  }
  .home .btn-home {
    display: block;
  }
}

@media (orientation: landscape) {
  .first-header .name {
    margin-bottom: 1rem;
  }
  .first-header .name .name-header {
    font-size: 2rem;
  }
  .first-header .name .name-sec-header {
    font-size: .7rem;
  }
  .first-header .name .icon {
    display: block;
  }
  .first-header .navbar {
    display: none;
  }
  .home {
    padding: 0;
  }
  .home .image {
    -webkit-animation: none;
            animation: none;
  }
  .home .home-info .paragraph1 {
    display: none;
  }
  .home .home-info .description1 {
    font-size: 2rem;
    text-align: center;
  }
  .home .home-info .description2 {
    font-size: 1.5rem;
  }
  .home .home-info .paragraph2 {
    font-size: 1.3rem;
    background-color: white;
  }
  .home .home-info .paragraph3 {
    font-size: 1.3rem;
    background-color: white;
  }
  .home .btn-home {
    display: none;
  }
  .wrapper {
    overflow: hidden;
    padding: 2rem .5rem;
  }
  .wrapper .about .description-about-one {
    font-size: 1.5rem;
  }
  .wrapper .about .description-about-two {
    font-size: 1.5rem;
  }
  .wrapper .about h1:nth-of-type(2) {
    display: none;
  }
  .wrapper .about .line {
    width: 0.1rem;
    height: 3rem;
  }
  .wrapper .about .article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .wrapper .about .article .image-article {
    display: none;
  }
  .wrapper .about .article .info-article .paragraph-article {
    padding: 1rem;
    font-size: 1rem;
    letter-spacing: 0.1rem;
  }
  .wrapper .about .article .info-article .description-article {
    font-size: 1.2rem;
    padding: 1rem;
    text-align: center;
  }
  .wrapper .about .article .resp {
    display: block;
  }
  .wrapper .gallery {
    margin: 2rem auto;
  }
  .wrapper .gallery .line {
    width: 0.1rem;
    height: 3rem;
  }
  .wrapper .gallery .description-gallery {
    font-size: 1.5rem;
  }
  .wrapper .gallery .image-gallery-two {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .wrapper .gallery .image-gallery-two .box {
    padding-top: 0.5rem;
  }
  .wrapper .gallery .image-gallery-two .box img {
    height: 70vh;
  }
  .wrapper .gallery .image-gallery-two .box:first-child {
    padding-right: 0rem;
  }
  .wrapper .gallery .image-gallery-two .box:nth-of-type(3) {
    padding-right: 0rem;
  }
  .wrapper .gallery .image-gallery-two .box:nth-of-type(5) {
    padding-right: 0rem;
  }
  .wrapper .reviews {
    padding-bottom: 2rem;
    position: relative;
  }
  .wrapper .reviews .description-reviews {
    font-size: 1.5rem;
    margin: 1rem auto;
    padding: 2rem 2rem 0 2rem;
  }
  .wrapper .reviews .swiper-wrapper .slide {
    padding: 2rem 1rem;
  }
  .wrapper .reviews .swiper-wrapper .slide .review {
    font-size: .8rem;
    font-weight: 300;
  }
  .wrapper .reviews .swiper-wrapper .slide .person {
    font-weight: 600;
  }
  .wrapper .reviews .sec1, .wrapper .reviews .sec2 {
    position: absolute;
    top: 90%;
  }
  .wrapper .contact {
    margin: 2rem auto 1rem auto;
  }
  .wrapper .contact .description-contact {
    font-size: 1.5rem;
  }
  .wrapper .contact .line {
    width: 0.1rem;
    height: 3rem;
  }
  .wrapper .contact .contacts .con {
    text-align: center;
  }
  .wrapper .contact .info p {
    font-size: .8rem;
  }
  .wrapper .contact .google {
    margin: 2rem auto;
  }
  .wrapper .contact .google h1 {
    font-size: 1.5rem;
  }
  .footer {
    font-size: .7rem;
    padding: 0.7rem;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .first-header .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 1rem auto;
  }
  .first-header .navbar a {
    font-size: .9rem;
    color: var(--grey);
    letter-spacing: 0.1rem;
  }
  .first-header .navbar a:hover {
    color: var(--black);
  }
  .home {
    padding: 0 1rem;
    overflow: hidden;
    position: relative;
  }
  .home .image {
    height: 80vh;
    width: 100%;
    overflow: hidden;
    background-size: cover !important;
    position: relative;
    background-position: center !important;
    -o-object-fit: cover;
       object-fit: cover;
    opacity: .5;
    -webkit-animation: scale 5s;
            animation: scale 5s;
  }
  @-webkit-keyframes scale {
    0% {
      -webkit-transform: scale(0.9);
              transform: scale(0.9);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale {
    0% {
      -webkit-transform: scale(0.9);
              transform: scale(0.9);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  .home .home-info .paragraph1 {
    margin: 1rem auto 3rem auto;
  }
  .home .home-info .description1 {
    font-size: 3rem;
    letter-spacing: 0.1rem;
    text-align: center;
  }
  .home .home-info .description2 {
    font-size: 2.7rem;
    letter-spacing: 0.1rem;
    text-align: center;
  }
  .home .home-info .paragraph2 {
    color: var(--grey);
    text-align: center;
    margin-top: 2rem;
    font-size: 1.4rem;
  }
  .home .home-info .paragraph3 {
    color: var(--grey);
    text-align: center;
    font-size: 1.4rem;
  }
  .home .btn-home {
    display: none;
  }
  .wrapper {
    overflow: hidden;
    padding: 3rem 2rem;
  }
  .wrapper .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .wrapper .about .description-about-one {
    font-size: 2rem;
  }
  .wrapper .about .line {
    width: 0.2rem;
    height: 5rem;
    background-color: var(--grey);
    margin: 1rem auto;
  }
  .wrapper .about .article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .wrapper .about .article .image-article {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .wrapper .about .article .image-article img {
    width: 100%;
    height: 100%;
  }
  .wrapper .about .article .info-article .description-article {
    padding: 2rem 3rem 1rem 1rem;
    text-align: center;
    letter-spacing: 0.1rem;
    font-size: 1.8rem;
  }
  .wrapper .about .article .info-article .paragraph-article {
    padding: 1.5rem 3rem;
    letter-spacing: 0.2rem;
    color: var(--grey);
    font-style: sans-serif;
  }
  .wrapper .about .article .info-article .two {
    padding-top: 3rem;
  }
  .wrapper .about .description-about-two {
    font-size: 2rem;
    text-align: center;
    margin: 4rem auto .1rem auto;
    letter-spacing: 0.1rem;
  }
  .wrapper .gallery {
    margin: 4rem auto;
    position: relative;
  }
  .wrapper .gallery .description-gallery {
    font-size: 2rem;
  }
  .wrapper .gallery .line {
    width: 0.2rem;
    height: 5rem;
    background-color: var(--grey);
    margin: 1rem auto;
  }
  .wrapper .gallery .image-gallery-two {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    overflow: hidden;
  }
  .wrapper .gallery .image-gallery-two .box {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    padding-top: 1rem;
  }
  .wrapper .gallery .image-gallery-two .box img {
    width: 100%;
    height: 50vh;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-transition: .2s linear;
    transition: .2s linear;
  }
  .wrapper .gallery .image-gallery-two .box img:hover {
    opacity: .8;
    -webkit-transform: scale(0.96);
            transform: scale(0.96);
  }
  .wrapper .gallery .image-gallery-two .box:first-child {
    padding-right: 1rem;
  }
  .wrapper .gallery .image-gallery-two .box:nth-of-type(3) {
    padding-right: 1rem;
  }
  .wrapper .gallery .image-gallery-two .box:nth-of-type(5) {
    padding-right: 1rem;
  }
  .wrapper .reviews {
    background-color: rgba(245, 241, 241, 0.87);
    padding-bottom: 4rem;
  }
  .wrapper .reviews .description-reviews {
    font-size: 2.5rem;
    text-align: center;
    margin: 2rem auto;
    padding-top: 3rem;
  }
  .wrapper .reviews .swiper-wrapper .slide {
    padding: 2rem 15rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .wrapper .reviews .swiper-wrapper .slide .review {
    font-size: 1rem;
    letter-spacing: 0.1rem;
  }
  .wrapper .reviews .swiper-wrapper .slide .person {
    padding-top: 1rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
  }
  .wrapper .reviews .sec1, .wrapper .reviews .sec2 {
    color: var(--black);
  }
  .wrapper .reviews .sec1:hover {
    color: var(--grey);
  }
  .wrapper .reviews .sec2:hover {
    color: var(--grey);
  }
  .wrapper .contact {
    margin: 6rem auto 4rem auto;
  }
  .wrapper .contact .description-contact {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
  }
  .wrapper .contact .line {
    width: 0.2rem;
    height: 5rem;
    background-color: var(--grey);
    margin: 1rem auto;
  }
  .wrapper .contact .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .wrapper .contact .contacts .con {
    margin-top: 1rem;
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1rem;
  }
  .wrapper .contact .contacts .con i {
    font-size: 3rem;
  }
  .wrapper .contact .contacts .con p {
    padding: 1rem 1rem .5rem 1rem;
    letter-spacing: 0.1rem;
    color: var(--grey);
  }
  .wrapper .contact .info {
    margin: 2rem auto;
  }
  .wrapper .contact .info p {
    letter-spacing: 0.1rem;
    font-size: 1rem;
    text-align: center;
  }
  .wrapper .contact .google {
    margin: 5rem auto;
  }
  .wrapper .contact .google h1 {
    font-size: 2rem;
    text-align: center;
  }
}

@media (min-width: 1280px) and (orientation: landscape) {
  .first-header .name {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: 100%;
            flex-direction: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
  .first-header .name .name-header {
    font-size: 3rem;
    letter-spacing: 0.2rem;
  }
  .first-header .name .name-sec-header {
    font-size: 1rem;
    color: var(--grey);
    letter-spacing: 0.2rem;
    font-weight: 300;
    text-transform: uppercase;
  }
  .first-header .name .icon {
    position: absolute;
    right: 10%;
    bottom: 20%;
    font-size: 1.7rem;
    color: var(--grey);
    display: none;
  }
  .first-header .name .icon:hover {
    color: var(--black);
    cursor: pointer;
  }
  .first-header .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 1.5rem auto;
  }
  .first-header .navbar a {
    font-size: 1.1rem;
    color: var(--grey);
    padding-right: 5rem;
    font-style: sans-serif;
    letter-spacing: 0.1rem;
  }
  .first-header .navbar a:hover {
    color: var(--black);
  }
  .home {
    padding: 0 1rem;
    overflow: hidden;
    position: relative;
  }
  .home .image {
    height: 80vh;
    width: 100%;
    overflow: hidden;
    background-size: cover !important;
    position: relative;
    background-position: center !important;
    -o-object-fit: cover;
       object-fit: cover;
    opacity: .5;
    -webkit-animation: scale 5s;
            animation: scale 5s;
  }
  @-webkit-keyframes scale {
    0% {
      -webkit-transform: scale(0.9);
              transform: scale(0.9);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale {
    0% {
      -webkit-transform: scale(0.9);
              transform: scale(0.9);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  .home .home-info .paragraph1 {
    background-color: var(--white);
    padding: 1rem 1.5rem;
    color: var(--grey);
    margin: 2rem auto 3rem auto;
    letter-spacing: 0.1rem;
    text-align: center;
  }
  .home .home-info .description1 {
    font-size: 3.5rem;
    letter-spacing: 0.1rem;
  }
  .home .home-info .description2 {
    font-size: 3rem;
    letter-spacing: 0.1rem;
    text-align: center;
  }
  .home .home-info .paragraph2 {
    color: var(--grey);
    text-align: center;
    margin-top: 3rem;
    font-size: 1.6rem;
  }
  .home .home-info .paragraph3 {
    color: var(--grey);
    text-align: center;
    font-size: 1.5rem;
  }
  .home .btn-home {
    display: block;
  }
  .wrapper {
    overflow: hidden;
    padding: 3rem 3rem;
  }
  .wrapper .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .wrapper .about .description-about-one {
    font-size: 2rem;
  }
  .wrapper .about .article .info-article {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .wrapper .about .article .info-article .description-article {
    padding: 2rem 3rem 2rem 3rem;
    text-align: center;
    letter-spacing: 0.1rem;
    font-size: 1.8rem;
  }
  .wrapper .about .article .info-article .paragraph-article {
    padding: 1.5rem 5rem;
    letter-spacing: 0.2rem;
    color: var(--grey);
    font-style: sans-serif;
  }
  .wrapper .about .article .info-article .two {
    padding-top: 3rem;
  }
  .wrapper .about .description-about-two {
    font-size: 2rem;
    text-align: center;
    margin: 4rem auto .1rem auto;
    letter-spacing: 0.1rem;
  }
  .wrapper .gallery {
    margin: 4rem auto;
    position: relative;
  }
  .wrapper .gallery .description-gallery {
    font-size: 2rem;
  }
  .wrapper .gallery .line {
    width: 0.2rem;
    height: 5rem;
    background-color: var(--grey);
    margin: 1rem auto;
  }
  .wrapper .gallery .image-gallery-two {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    overflow: hidden;
  }
  .wrapper .gallery .image-gallery-two .box {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    padding-top: 1rem;
  }
  .wrapper .gallery .image-gallery-two .box img {
    width: 100%;
    height: 50vh;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-transition: .2s linear;
    transition: .2s linear;
  }
  .wrapper .gallery .image-gallery-two .box img:hover {
    opacity: .8;
    -webkit-transform: scale(0.96);
            transform: scale(0.96);
  }
  .wrapper .gallery .image-gallery-two .box:first-child {
    padding-right: 1rem;
  }
  .wrapper .gallery .image-gallery-two .box:nth-of-type(3) {
    padding-right: 1rem;
  }
  .wrapper .gallery .image-gallery-two .box:nth-of-type(5) {
    padding-right: 1rem;
  }
  .wrapper .reviews {
    background-color: rgba(245, 241, 241, 0.87);
    padding-bottom: 4rem;
  }
  .wrapper .reviews .description-reviews {
    font-size: 2.5rem;
    text-align: center;
    margin: 2rem auto;
    padding-top: 3rem;
  }
  .wrapper .reviews .swiper-wrapper .slide {
    padding: 2rem 15rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .wrapper .reviews .swiper-wrapper .slide .review {
    font-size: 1rem;
    letter-spacing: 0.1rem;
  }
  .wrapper .reviews .swiper-wrapper .slide .person {
    padding-top: 1rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
  }
  .wrapper .reviews .sec1, .wrapper .reviews .sec2 {
    color: var(--black);
  }
  .wrapper .reviews .sec1:hover {
    color: var(--grey);
  }
  .wrapper .reviews .sec2:hover {
    color: var(--grey);
  }
  .wrapper .contact {
    margin: 6rem auto 4rem auto;
  }
  .wrapper .contact .description-contact {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
  }
  .wrapper .contact .line {
    width: 0.2rem;
    height: 5rem;
    background-color: var(--grey);
    margin: 1rem auto;
  }
  .wrapper .contact .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .wrapper .contact .contacts .con {
    margin-top: 1rem;
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1rem;
  }
  .wrapper .contact .contacts .con i {
    font-size: 3rem;
  }
  .wrapper .contact .contacts .con p {
    padding: 1rem 1rem .5rem 1rem;
    letter-spacing: 0.1rem;
    color: var(--grey);
  }
  .wrapper .contact .info {
    margin: 2rem auto;
  }
  .wrapper .contact .info p {
    letter-spacing: 0.1rem;
    font-size: 1rem;
    text-align: center;
  }
  .wrapper .contact .google {
    margin: 5rem auto;
  }
  .wrapper .contact .google h1 {
    font-size: 2rem;
    text-align: center;
  }
}

@media (min-width: 1600px) and (orientation: landscape) {
  .first-header .name {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: 100%;
            flex-direction: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
  .first-header .name .name-header {
    font-size: 3.5rem;
    letter-spacing: 0.2rem;
  }
  .first-header .name .name-sec-header {
    font-size: 1.2rem;
    color: var(--grey);
    letter-spacing: 0.3rem;
    font-weight: 300;
    text-transform: uppercase;
  }
  .first-header .name .icon {
    position: absolute;
    right: 10%;
    bottom: 20%;
    font-size: 1.7rem;
    color: var(--grey);
    display: none;
  }
  .first-header .name .icon:hover {
    color: var(--black);
    cursor: pointer;
  }
  .first-header .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 1.7rem auto;
  }
  .first-header .navbar a {
    font-size: 1.4rem;
    color: var(--grey);
    padding-right: 5rem;
    font-style: sans-serif;
    letter-spacing: 0.1rem;
  }
  .first-header .navbar a:hover {
    color: var(--black);
  }
  .home {
    padding: 0 1rem;
    overflow: hidden;
    position: relative;
  }
  .home .image {
    height: 80vh;
    width: 100%;
    overflow: hidden;
    background-size: cover !important;
    position: relative;
    background-position: center !important;
    -o-object-fit: cover;
       object-fit: cover;
    opacity: .5;
    -webkit-animation: scale 5s;
            animation: scale 5s;
  }
  @-webkit-keyframes scale {
    0% {
      -webkit-transform: scale(0.9);
              transform: scale(0.9);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale {
    0% {
      -webkit-transform: scale(0.9);
              transform: scale(0.9);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  .home .home-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 45%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 0;
    -webkit-animation: moveBanner 2s .7s forwards;
            animation: moveBanner 2s .7s forwards;
  }
  .home .home-info .paragraph1 {
    background-color: var(--white);
    padding: 1rem 1.5rem;
    color: var(--grey);
    margin: 1rem auto 2rem auto;
    letter-spacing: 0.1rem;
    text-align: center;
  }
  .home .home-info .description1 {
    font-size: 4.5rem;
    letter-spacing: 0.1rem;
  }
  .home .home-info .description2 {
    font-size: 4rem;
    letter-spacing: 0.1rem;
    text-align: center;
  }
  .home .home-info .paragraph2 {
    color: var(--grey);
    text-align: center;
    margin-top: 3rem;
    font-size: 1.6rem;
  }
  .home .home-info .paragraph3 {
    color: var(--grey);
    text-align: center;
    font-size: 1.6rem;
  }
  .home .btn-home {
    position: absolute;
    left: 50%;
    bottom: 0%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    padding: 1.5rem 3.4rem;
    font-size: 1rem;
    background-color: var(--white);
    -webkit-transition: bottom .3s;
    transition: bottom .3s;
  }
  .home .btn-home a {
    color: var(--black);
    letter-spacing: 0.1rem;
    font-size: 1.2rem;
  }
  .home .btn-home:hover {
    background-color: var(--grey);
    bottom: 3%;
  }
  @-webkit-keyframes moveBanner {
    0% {
      opacity: 0;
      top: 100%;
    }
    100% {
      opacity: 1;
      top: 45%;
    }
  }
  @keyframes moveBanner {
    0% {
      opacity: 0;
      top: 100%;
    }
    100% {
      opacity: 1;
      top: 45%;
    }
  }
  .wrapper {
    overflow: hidden;
    padding: 4rem 10rem;
  }
  .wrapper .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .wrapper .about .description-about-one {
    font-size: 2.5rem;
    text-align: center;
    margin: 1rem auto .1rem;
    letter-spacing: 0.1rem;
  }
  .wrapper .about .line {
    width: 0.2rem;
    height: 5rem;
    background-color: var(--grey);
    margin: 1rem auto;
  }
  .wrapper .about .article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .wrapper .about .article .image-article {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .wrapper .about .article .image-article img {
    width: 100%;
    height: 100%;
  }
  .wrapper .about .article .info-article {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgba(245, 241, 241, 0.87);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .wrapper .about .article .info-article .description-article {
    padding: 3rem 8rem 2.5rem 8rem;
    text-align: left;
    letter-spacing: 0.1rem;
    font-size: 2.5rem;
  }
  .wrapper .about .article .info-article .paragraph-article {
    padding: 2rem 5rem;
    letter-spacing: 0.2rem;
    color: var(--grey);
    font-style: sans-serif;
    font-size: 1.2rem;
  }
  .wrapper .about .article .info-article .two {
    padding-top: 4rem;
  }
  .wrapper .about .description-about-two {
    font-size: 2.5rem;
    text-align: center;
    letter-spacing: 0.1rem;
  }
  .wrapper .gallery {
    margin: 4rem auto;
    position: relative;
  }
  .wrapper .gallery .description-gallery {
    font-size: 2.5rem;
    text-align: center;
    letter-spacing: 0.1rem;
  }
  .wrapper .gallery .line {
    width: 0.2rem;
    height: 5rem;
    background-color: var(--grey);
    margin: 1rem auto;
  }
  .wrapper .gallery .image-gallery-two {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    overflow: hidden;
  }
  .wrapper .gallery .image-gallery-two .box {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    padding-top: 1rem;
  }
  .wrapper .gallery .image-gallery-two .box img {
    width: 100%;
    height: 50vh;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-transition: .2s linear;
    transition: .2s linear;
  }
  .wrapper .gallery .image-gallery-two .box img:hover {
    opacity: .8;
    -webkit-transform: scale(0.96);
            transform: scale(0.96);
  }
  .wrapper .gallery .image-gallery-two .box:first-child {
    padding-right: 1rem;
  }
  .wrapper .gallery .image-gallery-two .box:nth-of-type(3) {
    padding-right: 1rem;
  }
  .wrapper .gallery .image-gallery-two .box:nth-of-type(5) {
    padding-right: 1rem;
  }
  .wrapper .reviews {
    background-color: rgba(245, 241, 241, 0.87);
    padding-bottom: 6rem;
  }
  .wrapper .reviews .description-reviews {
    font-size: 2.5rem;
    text-align: center;
    margin: 2rem auto;
    padding-top: 3rem;
  }
  .wrapper .reviews .swiper-wrapper .slide {
    padding: 2rem 15rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .wrapper .reviews .swiper-wrapper .slide .review {
    font-size: 1rem;
    letter-spacing: 0.1rem;
  }
  .wrapper .reviews .swiper-wrapper .slide .person {
    padding-top: 1rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
  }
  .wrapper .reviews .sec1, .wrapper .reviews .sec2 {
    color: var(--black);
  }
  .wrapper .reviews .sec1:hover {
    color: var(--grey);
  }
  .wrapper .reviews .sec2:hover {
    color: var(--grey);
  }
  .wrapper .contact {
    margin: 6rem auto 4rem auto;
  }
  .wrapper .contact .description-contact {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 1rem;
  }
  .wrapper .contact .line {
    width: 0.2rem;
    height: 5rem;
    background-color: var(--grey);
    margin: 1rem auto;
  }
  .wrapper .contact .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .wrapper .contact .contacts .con {
    margin-top: 1rem;
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1rem;
  }
  .wrapper .contact .contacts .con i {
    font-size: 3rem;
  }
  .wrapper .contact .contacts .con p {
    padding: 1rem 1rem .5rem 1rem;
    letter-spacing: 0.1rem;
    color: var(--grey);
  }
  .wrapper .contact .info {
    margin: 2rem auto;
  }
  .wrapper .contact .info p {
    letter-spacing: 0.1rem;
    font-size: 1rem;
    text-align: center;
  }
  .wrapper .contact .google {
    margin: 5rem auto;
  }
  .wrapper .contact .google h1 {
    font-size: 2.5rem;
    text-align: center;
  }
  .footer {
    background-color: var(--black);
    color: var(--grey);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin: 0 auto;
    padding: 1rem;
  }
  .footer .author {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    text-align: center;
  }
  .footer .author span {
    color: var(--white);
  }
  .footer .copyright {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    text-align: center;
    letter-spacing: .1rem;
  }
}
/*# sourceMappingURL=responsive.css.map */